.footer {
padding: 45px 0;
background-color: $black;
    &__container {
    }

    &__content {
        display: flex;
        align-items: center;
        border: 1px solid $white;
        margin-bottom: 26px;
        @media (max-width: 1200px) {
            
        }
        @media (max-width: 1024px) {
            padding: 30px;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @media (max-width: 576px) {
            align-items: center;
        }
    }

    &__logo {
        padding: 35px 40px;
        border-right: 1px solid $white;
        @media (max-width: 1024px) {
            border-right: none;
            padding: 0;
        }
        @media (max-width: 576px) {
            padding: 10px 10px;
        }
    }

    &__list {
        display: flex;
        width: 51%;
        padding: 36px 48px;
        border-right: 1px solid $white;
        justify-content: space-between;
        text-transform: uppercase;
        color: $orange;
        @media (max-width: 1200px) {
            
        }
        @media (max-width: 1024px) {
            padding: 0;
            padding-top: 30px;
            width: 100%;
            border: none;
            order: 2;
        }
        @media (max-width: 576px) { 
            font-size: 12px;
        }

        &-link {
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__list-item {
        @media (max-width: 1024px) {
            &:not(:last-child) {
                // margin-bottom: 10px; 
            }
        }
    }

    &__social-wrapper {
        width: 34%;
        padding: 26px 43px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 1200px) {
            justify-content: center;
            order: 1;
        }
        @media (max-width: 1024px) {
            width: auto;
            padding: 0;
        }
        
    }

    &__social-text {
        text-transform: uppercase;
        color: $white;
        @media (max-width: 1200px) {
            display: none;
        }
    }

    &__social {
        display: flex;
        align-items: center;
        margin-top: -9px;
    }

    &__social-icon {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    &__icon {
        &-twitter {
            width: 22px;
            height: 22px;
        }
        &-facebook {
            width: 29px;
            height: 29px;
        }
        &-google {
            width: 35px;
            height: 35px;
        }
    }

    &__info {
        color: $white;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        @media (max-width: 576px) {
            flex-direction: column;
        }
    }

    &__right {
        @media (max-width: 576px) {
            margin-bottom: 10px;
        }
    }

    &__work {
        & span {
            color: $orange;
        }
    }
}
.container {
}
